body {
	min-height: 200vh;
	width: 100%;
}

ul {
	list-style-type: none;
}

.menu {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
}

li {
	width: 100px;
	height: 50px;
	background-color: gray;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.home {
	background-image: url("home.svg");
	margin-right: 40px;
}

.mail {
	background-image: url("mail.svg");
}

.search {
	background-image: url("search.svg");
}

li:hover {
	outline: 2px solid green;
	background-color: green;
}

.submenu li:hover {
	outline: 2px solid orange;
	background-color: orange;
	font-size: 18px;
}

.submenu {
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
}

.menu li:hover .submenu{
	display: block;
}

.menu li {
	position: relative;
}

.submenu li {
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	color: white;
}

.menu li {
	float: right;
}